
#test{
    width: 500px;
    height: 500px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border: 2px solid black;
    border-radius: 40px;
}

#calendar{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
}

td{
    position: relative;
    z-index: 0;
    width: 12.5%;
}

td.day{
    cursor: pointer;
}

td.week{
    cursor: pointer;
}

td.other-month{
    color: grey;
}

.week:hover:after{
    background-color: lightseagreen;
}

.week.selected::after{
    background: lightblue;
}

.week::after{
    position: absolute;
    top: 0;
    left: 0%;
    bottom: 0;
    width: 800%;
    height: 100%;
    border-radius: 10px;
    z-index: -2;
    content: '';
}

.day:hover::after{
    background: plum;
}

.day.selected::after{
    background: lightpink;
}

.day::after{
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    right: 0;
    bottom: 0;
    width: 75%;
    height: 75%;
    border-radius: 10%;
    z-index: -1;
    content: '';
}