/**
 * Stylesheet for calendar.html
 */

/* colors for light-theme */
:root {
  --background-color: white;
  --text-color: #1c1c1e;
  --accent-color1: #c7c7cc; 
  --nav-color: #fcfcfc; /* drop down box color */
  --nav-color-hover: #f2f2f7;
}  

/* colors for dark-theme */
[data-theme="dark"] { 
  --background-color: #1c1c1e;
  --text-color: #f2f2f7;
  --accent-color1: #8e8e93;
  --nav-color: #2c2c2e;
  --nav-color-hover: #48484a;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--background-color);


  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
  grid-template-areas:
    'sidebar content content'
    'sidebar content content'
    'sidebar content content'
    'sidebar content content' */
}

/* CSS Grid */
.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
  grid-template-areas:
    'sidebar top-nav top-nav'
    'sidebar content content'
    'sidebar content content'
    'sidebar content content';
}

/*  CSS Grid End*/


/* Styling for dropup menu */
body .mySidebar .dropdown .dropdown-menu{
  background-color: var(--nav-color);
}

body .mySidebar .dropdown .dropdown-menu li a{
  color: var(--text-color);
}

body .mySidebar .dropdown .dropdown-menu li a:hover{
  background-color: var(--nav-color-hover);
}

/* 
body .main-container table thead tr td{
  background-color: #1c1c1e;
} */

.dropdown-menu {
  background-color: var(--nav-color);
}


.dropdown-menu a {
  color: var(--text-color);
}

.dropdown-menu a:hover {
  background-color: var(--nav-color-hover);
}

body .main-container table{
  background-color: #1c1c1e;
}


table {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  border-collapse: collapse;
  color: var(--text-color);
}



tbody td {
  vertical-align: top;
  text-align: left;
  border: 1px solid var(--accent-color1);
  width: 10rem;
  height: 8rem;
}


tbody tr th {
  border: 1px solid var(--accent-color1);
  color: var(--text-color);
}



thead {
  /* background-color: #333; */
  border: 1px solid var(--accent-color1);
  background-color: #007aff;
  color: white;
  text-align: center;
}

.monthyear {
  height: 3rem;
}

/* The sidebar menu */
.mySidebar {
  height: 100%;
  grid-area: sidebar;
  position: fixed;
  background-color: var(--nav-color);
}

.main-container {
  grid-area: content;
  justify-content: center;
}

#logo {
  display: inline-block;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  /* grid-area: content; */
  transition: margin-left .5s;
  /* If you want a transition effect */
  padding: 20px;
}

/* Style month and year title*/
#monthTitle {
  font-size: 30px;
}

#yearTitle {
  font-size: 20px;
}

/* Pointer on buttons back/forward buttons*/
#backmonth:hover {
  cursor: pointer;
}

#forwardmonth:hover {
  cursor: pointer;
}

.fas {
  color: var(#007aff);
}