/**
 * Stylesheet for calendar.html
 */

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #333;
    height: auto;
    width: auto;
}

tbody td {
    vertical-align: top;
    text-align: left;
    border: 1px solid #333;
    width: 10rem;
    height: 8rem;
}

thead {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.monthyear {
    height: 3rem;
<<<<<<< HEAD:source/frontend/app/page-calendar/calendar-style.css
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(227, 229, 240); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

#logo {
  display: inline-block;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #949191;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#sidebarbottom {
  height: 68%;/*Only for the demo.*/
  display: flex;
  align-items: flex-end;
}

/* The button used to open the sidebar */
.hamburger-bar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.hamburger:hover {
  background-color: rgb(255, 255, 255);
}

/* End of sidebar stuff */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

=======
}
>>>>>>> 02481e8a88b45a474f8ac94b71a18681e9f15688:source/frontend/app/page-calendar-monthly/calendar-style.css
