
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(227, 229, 240); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

#logo {
  display: inline-block;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #949191;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#sidebarbottom {
  height: 68%;/*Only for the demo.*/
  display: flex;
  align-items: flex-end;
}

/* The button used to open the sidebar */
.hamburger-bar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.hamburger:hover {
  background-color: rgb(255, 255, 255);
}

/* End of sidebar stuff */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

body {
  background-color: rgba(108, 164, 255, 0.267);
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Widgets on the dashboard */
#calendar {
  vertical-align: top;
  position: relative; /* Maybe toggle to absolute to drag widget around */
  display: inline-block; /* Make sure to toggle between inline-block and none */
  background-color:rgb(255, 255, 255);
  width: 800px;
  height: 600px;
  border-radius: 25px;
  border: 5px solid black;
  padding: 50px;
  margin: 20px;
}

#tasklist {
  vertical-align: top;
  position: relative;
  display: inline-block; /* Make sure to toggle between inline-block and none */
  background-color:rgb(255, 255, 255);
  width: 400px;
  height: 600px;
  border-radius: 25px;
  border: 5px solid black;
  padding: 50px;
  margin: 20px;
}

#journal {
  vertical-align: top;
  position: relative;
  display: inline-block; /* Make sure to toggle between inline-block and none */
  background-color:rgb(255, 255, 255);
  width: 400px;
  height: 600px;
  border-radius: 25px;
  border: 5px solid black;
  padding: 50px;
  margin: 20px;
}

#weather {
  vertical-align: top;
  position: relative; /* maybe toggle to absolute to drag them around */
  display: inline-block; /* Make sure to toggle between inline-block and none */
  background-color:rgb(255, 255, 255);
  width: 400px;
  height: 600px;
  border-radius: 25px;
  border: 5px solid black;
  padding: 50px;
  margin: 20px; 
}

#tracker {
  vertical-align: top;
  position: relative; /* maybe toggle to absolute to drag them around */
  display: inline-block; /* Make sure to toggle between inline-block and none */
  background-color:rgb(255, 255, 255);
  width: 1245px;
  height: 600px;
  border-radius: 25px;
  border: 5px solid black;
  padding: 50px;
  margin: 20px; 
}

h3 {
font-size: 36px;
  text-align: left;
}

