# Code quality and test workflow for CI/CD pipeline
name: Code Quality/Test workflow
on: 
  push: 
    paths: 
    - 'source/**'
    branches:
    - '**-release'
    - 'staging'
jobs: 
  codacy-scan: #Run codacy code quality scan
    name: Codacy Analysis CLI
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout code
        uses: actions/checkout@main

      - name: Run Codacy Analysis CLI
        uses: codacy/codacy-analysis-cli-action@master
        with: 
          directory: /home/runner/work/cse110-sp21-group9/cse110-sp21-group9/source/
  unit-test: #Run automated unit tests
    name: Automated unit tests
    needs: codacy-scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: npm install, and test
        run: |
          npm install
          npm test
        env:
          CI: true
    

  


    